    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Roboto, sans-serif;
    }

    header {
        background-color: #5f27cd;
        padding: 16px 0;
        color: #fff;
        display: flex;
        border-bottom: 16px solid #341f97;
        justify-content: center;
        text-transform: uppercase;
        font-style: italic;
    }

    header button {
        margin-left: 16px;
    }


    form {
        background-color: #c8d6e5;
        padding: 24px;
        text-align: center;
        display: none;
    }
    form h2 {
        margin-bottom: 16px;
    }

    input, button {
        padding: 8px;
    }
    button {
        background-color: #009432;
        border: none;
        cursor: pointer;
        font-weight: bold;
        text-transform: uppercase;
        color: #fff;
    }
    #botao-cancelar {
        background-color: red;
    }

    ul {
        display: flex;
        flex-wrap: wrap; /* quando se chega ao limite e ocupa toda tela, cria-se uma nova linha.*/
    }
    ul li {
        max-width: 25%; /* significa que a largura máxima dos elementos de lista não excederá 25% da largura do contêiner pai. Isso é útil para garantir que os elementos de lista se ajustem bem em dispositivos de diferentes tamanhos, sem se sobrepor ou estender além dos limites da tela.*/
        list-style: none;
        position: relative;/*  define a posição do elemento de lista em relação ao seu contêiner pai. */
        max-height:210px; /*define a altura máxima que um elemento de lista pode ter. Neste caso, a altura máxima é definida como 210 pixels.*/
        overflow-y: hidden; /*é usada para controlar o comportamento de transbordamento vertical (scroll) de um elemento. Quando definida como "hidden", ela oculta qualquer conteúdo que ultrapasse os limites do elemento, não permitindo que o usuário role a página verticalmente para ver o restante do conteúdo. */
    }

    ul li img   {     
        width: 100%; /* seleciona todas as imagens que estão dentro de uma lista não ordenada e define a largura dessas imagens como 100% do tamanho do contêiner pai. Ou seja, todas as imagens dentro de um elemento <li> de uma lista <ul> terão sua largura ajustada para preencher completamente a largura do elemento <li>.*/
    } 
    .overlay-imagem-link {
        padding: 16px;
        background-color: rgba(0,0,0,0.7);
        position: absolute; /* faz com que o elemento (no caso, a classe ".overlay-imagem-link") seja posicionado de forma absoluta em relação ao seu elemento pai mais próximo que tenha uma posição definida que não seja static. Nesse exemplo foi a relative (li).*/
        bottom: 0;
        left: 0;
        width: 100%;
        opacity: 0;
        transition: all ease .5s;
    }
    .overlay-imagem-link a {
        color: #fff;
        text-decoration: none;
    } 

    /*  faz com que, quando o mouse passa por cima de um elemento <li>, a opacidade de um elemento filho com a classe ".overlay-imagem-link" seja definida como 1, tornando-o totalmente visível */
    ul li:hover .overlay-imagem-link {
        opacity: 1;
    }